accelerate==0.26.1
alembic==1.13.1
celery==5.3.6
diffusers==0.10.0
einops==0.7.0
Flask==3.0.3
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
matplotlib==3.8.0
numpy==1.26.4
packaging==24.0
Pillow==10.0.1
SQLAlchemy==2.0.29
torch==1.13.1
torchvision==0.14.1
transformers==4.34.1
eventlet==0.36.1
redis==5.0.3
pymysql==1.1.0
flask-cors==4.0.0